<div class='container mt-5 pt-3'>
<div class='row justify-content-center align-content-center   mb-4 shadow-lg rounded'
style="background-color: rgb(216,172,156);"
*ngFor='let promotion of promotions' >
<div class='col-9 d-flex justify-content-between align-items-center'>
  <div class='d-flex justify-content-around align-items-center w-100' >
    <div class="mr-2" style="font-size: 1rem; color: rgb(239,217,209); max-width: 60%; min-width: 60%">{{promotion.promotion}}</div>
    <div class='mr-2' style=" font-size: 2rem; color: rgb(239,217,209);">{{promotion.newprice}} $</div>
    <div class='more-Product'>Product Details</div>
  </div>
</div>
<div class='btns d-flex justify-content-end align-items-center'>
  <i (click)='onDeletePromotion(promotion)' style="font-size: 2rem; color: rgb(153,155,132); cursor: pointer;" class="fa fa-trash-o mr-5"></i>
</div>

</div>
