<nav
class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" style="background-color: #d8ac9c;"
>
<div class="container-fluid">
  <a class="navbar-brand" href="#">Rafai3</a>
  <!--img src="assets/images/logo3.jpg" style="height: 90px; border-radius: 50%;"-->

  <form class="d-flex">
    <div class="burger-icon"></div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">our products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Cart</a>
        </li>
      </ul>
      
      <button
        class="btn btn-outline-success"
        style="color: white; border: 2px solid white"
        type="submit"
      >
        login
      </button>
    </div>
  </form>
</div>
</nav>