<form [formGroup]="editPassForm" class="alert alert-primary text-center ">

    <h4 name="username" class="text-danger">Note: You will be directed to log in again after password change</h4>

   
    <div class="form-group my-4">

        <span for="oldPassword">Enter old Password</span>
        <input formControlName="password" #oldPassword type="password" name="oldPassword"
            class="w-25 mx-3 form-control d-inline " (keyup)="writeOldPass()">
        <div name="validations" *ngIf="editPassForm.invalid">
            <span class="text-danger" *ngIf="editPassForm.controls.password.errors?.required">password is
                required</span>
            <span class="text-danger" *ngIf="editPassForm.controls.password.errors?.maxlength">password characters
                exceeded maximum length of 20</span>
            <span class="text-danger" *ngIf="editPassForm.controls.password.errors?.minlength">password characters
                are less than 8 characters</span>

        </div>
    </div>
    <div class="form-group my-4">

        <label for="newPassword">Enter new Password</label>
        <input formControlName="newPassword" #newPassword type="password" name="newPassword"
            class="w-25 mx-3 form-control d-inline " (keyup)="checknewPassConf(newPassword,confirmPassword)">
        <div name="validations" *ngIf="editPassForm.invalid">
            <span class="text-danger" *ngIf="editPassForm.controls.newPassword.errors?.required">new password is
                required</span>
            <span class="text-danger" *ngIf="editPassForm.controls.newPassword.errors?.maxlength">password characters
                exceeded maximum length of 20</span>
            <span class="text-danger" *ngIf="editPassForm.controls.newPassword.errors?.minlength">password characters
                are less than 8 characters</span>

        </div>
    </div>
    <div class=" form-group my-4">

        <label for="confirmPassword">Confirm new Password</label>
        <input #confirmPassword type="password" name="confirmPassword" class="w-25 mx-3 form-control d-inline "
            (keyup)="checknewPassConf(newPassword,confirmPassword)">
    </div>
    <div *ngIf="newPassword.value">

        <h5 [ngClass]="{'text-danger':!checkConfirmPass,'text-success':checkConfirmPass}" class="my-5">
            {{newPasswordMatch}}
        </h5>
    </div>
    <h5 class="text-danger">{{ErrorMsg}}</h5>

    <input value="Back to profile" type="button" class="btn btn-primary" name="backBtn" (click)="navigateProfile()">


    <input [disabled]="!checkConfirmPass||editPassForm.invalid" type="button" name="confirm" class="btn btn-danger mx-3"
        value="confirm" (click)="confirm(oldPassword,newPassword)">
</form>