<div class="text-center">

    <form [formGroup]="registerForm" #registerUser>
        <div class="form-group">
            <label for="username">
                <h3>Enter username</h3>
            </label>
            <input #username type="text" class="form-control w-50 m-auto" id="username" formControlName="username">
            <div class="text-danger" *ngIf="userNameExists">Username already exists. choose another one</div>
            <div name="validations" *ngIf="registerForm.invalid">
                <span class="text-danger" *ngIf="firstClick&&registerForm.controls.username.errors?.required">Username is
                    required</span>
                <span class="text-danger" *ngIf="registerForm.controls.username.errors?.maxlength">username characters
                    exceeded maximum length of 20</span>
                <span class="text-danger" *ngIf="registerForm.controls.username.errors?.minlength">username characters
                    are less than 5 characters</span>

            </div>
        </div>
        <div class="form-group">
            <label for="email">
                <h3>Enter email</h3>
            </label>
            <input #email type="text" class="form-control w-50 m-auto" name="email" id="email" formControlName="email">
            <div class="text-danger" *ngIf="emailExists">Email already exists</div>
            <div name="validations" *ngIf="registerForm.invalid">
                <span class="text-danger" *ngIf="firstClick&&registerForm.controls.email.errors?.required">email is
                    required</span>
                <span class="text-danger" *ngIf="registerForm.controls.email.errors?.email">enter valid email
                    address</span>


            </div>
        </div>
        <div class="form-group">
            <label for="password">
                <h3>Enter password</h3>
            </label>
            <input (keyup)="validateConfirmPass(password,confirmPassword)" #password type="password"
                class="form-control w-50 m-auto" name="password" id="password" formControlName="password">
            <div name="validations" *ngIf="registerForm.invalid">
                <span class="text-danger" *ngIf="firstClick&&registerForm.controls.password.errors?.required">password is
                    required</span>
                <span class="text-danger" *ngIf="registerForm.controls.password.errors?.maxlength">password characters
                    exceeded maximum length of 20</span>
                <span class="text-danger" *ngIf="registerForm.controls.password.errors?.minlength">password characters
                    are less than 8 characters</span>

            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">
                <h3>Confirm password</h3>
            </label>
            <input id="confPassword" name="confPassword" #confirmPassword type="password"
                class="form-control w-50 m-auto" formControlName="confirmPassword"
                (keyup)="validateConfirmPass(password,confirmPassword)">
            <div name="validations" *ngIf="registerForm.invalid">
                <span class="text-danger" *ngIf="(!checkConfPass)&&firstClick">Note: confirmation password should match
                    password</span>
                <span class="text-success" *ngIf="checkConfPass">confirmation password matched
                    password</span>

            </div>
        </div>
        <div class="form-group">
            <label for="firstname">
                <h3>Enter firstname</h3>
            </label>
            <input #firstname type="text" class="form-control w-50 m-auto" name="firstname" id="firstname"
                formControlName="firstname">
            <div name="validations" *ngIf="registerForm.invalid">
                <span class="text-danger" *ngIf="firstClick&&registerForm.controls.firstname.errors?.required">firstname is
                    required</span>
                <span class="text-danger" *ngIf="registerForm.controls.firstname.errors?.maxlength">firstname characters
                    exceeded maximum length of 15</span>
                <span class="text-danger" *ngIf="registerForm.controls.firstname.errors?.minlength">firstname characters
                    are less than 3 characters</span>

            </div>
        </div>
        <div class="form-group">
            <label for="lastname">
                <h3>Enter lastname</h3>
            </label>
            <input #lastname type="text" class="form-control w-50 m-auto" name="lastname" id="lastname"
                formControlName="lastname">
            <div name="validations" *ngIf="registerForm.invalid">
                <span class="text-danger" *ngIf="firstClick&&registerForm.controls.lastname.errors?.required">lastname is
                    required</span>
                <span class="text-danger" *ngIf="registerForm.controls.lastname.errors?.maxlength">lastname characters
                    exceeded maximum length of 15</span>
                <span class="text-danger" *ngIf="registerForm.controls.lastname.errors?.minlength">lastname characters
                    are less than 3 characters</span>

            </div>
        </div>
        <div class="form-group">
            <label for="age">
                <h3>Enter age</h3>
            </label>
            <input #age type="number" class="form-control w-50 m-auto" name="age" id="age" formControlName="age">
            <div name="validations" *ngIf="registerForm.invalid">
                <span class="text-danger" *ngIf="firstClick&&registerForm.controls.age.errors?.required">age is
                    required</span>
                <span class="text-danger" *ngIf="registerForm.controls.age.errors?.max">age shouldn't be more than
                    100</span>
                <span class="text-danger" *ngIf="registerForm.controls.age.errors?.min">age shouldn't be less than
                    8</span>

            </div>
        </div>
        <div class="form-group">
            <label for="gender">
                <h3>Choose gender</h3>
            </label>

            <div class="text-center">
                <button #male (click)="chooseGender(male.value)" class="btn mx-3" value="male" type="button" [ngClass]="{'btn-outline-secondary': gender != 'male', 'btn-secondary':gender == 'male' }">Male</button>
                <button #female (click)="chooseGender(female.value)" class="btn mx-3" value="female" type="button" [ngClass]="{'btn-outline-secondary': gender != 'female', 'btn-secondary':gender == 'female' }">Female</button>

                
                <div *ngIf="firstClick&&gender==''" class="text-center"><span class="text-danger">Gender is required. Choose one</span></div>
            </div>

              
        </div>
        <div class="form-group">
            <label for="phone">
                <h3>Enter phone (optional)</h3>
            </label>
            <input #phone type="number" class="form-control w-50 m-auto">
        </div>

        <input id="phone" name="phone" [disabled]="registerForm.invalid||!checkConfPass" *ngIf="!registered"
            class="btn btn-primary" type="button"
            (click)="register(username,email,password,firstname,lastname,age,phone)" value="Register">

        <h4 class="text-primary" *ngIf="registered">
            {{registered}}. Login with your details. after <span style="cursor: pointer;" (click)="navigateLogin()"
                class="text-danger"><u>click
                    here</u></span>
        </h4>
    </form>

</div>